<!DOCTYPE html>
<html lang="zh-CN">
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>站内信</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<link class="bootstrap library" rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <script class="bootstrap library" src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script langugae="javascript" type="text/javascript">
        var loc=document.URL;
    	var n1=loc.length;
    	var n2=loc.indexOf("=");
    	var id = decodeURI(loc.substr(n2+1, n1-n2));
    	function onloadpage(e){
    		if(n2!==-1){
    		document.getElementById('Recvname').value=id;
    		}
    	}


    </script>

</head>
<body onload="onloadpage(this)">
	<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<h3>
				个人页面
			</h3>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-tabs">
				<li >
					<a href="mypage.html">个人信息</a>
				</li>
				<li>
					<a href="mypage_product.html">出售管理</a>
				</li>
				<li >
					<a href="mypage_purchase.html">购买记录</a>
				</li>
				<li >
					<a href="mypage_newproduct.html">发布新商品</a>
				</li>
				<li class="active">
					<a href="#">我的站内信</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row-fluid">
	<div class="col-md-10">
		<from role="form" name="messageform">
			<div class="from-group">
				<label for="RecvName">收件人</label>
				<input type="text" class="form-control" name="Recvname" id="Recvname" >
			</div>
			<div class="from-group">
				<label for="Subject">主题</label>
				<input type="text" class="form-control" name="Subject" id="Subject" >
			</div>

			 <div calss="form-group">
  				<label for="Messagetext">信息内容</label>
  				<textarea class="form-control" id="Messagetext" name="Messagetext" rows="6" ></textarea>

  			</div>
  			<button type="button" class="btn btn-primary btn-lg active">发送</button>
  			<a href="#" class="btn btn-primary btn-lg active" role="button" onClick="javascript :history.back(-1);">返回</a>
		</from>
	</div>
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked" role="tablist">
				<li role="presentation" class="active"><a href="#">新建消息</a></li>
 				<li role="presentation"><a href="mypage_message.html">收件箱</a></li>
  				<li role="presentation" ><a href="mypage_message02.html">发件箱</a></li>
			</ul>
		</div>
	</div>
	</div>

</body>
</html>