<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>个人页面</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<link class="bootstrap library" rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <script class="bootstrap library" src="./js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="container">
	<div class="row-fluid">
		<div class="span12">
			<h3>
				个人页面
			</h3>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="mypage.html">个人信息</a>
				</li>
				<li>
					<a href="mypage_product.html">出售管理</a>
				</li>
				<li>
					<a href="mypage_purchase.html">购买记录</a>
				</li>
				<li>
					<a href="mypage_newproduct.html">发布新商品</a>
				</li>
				<li>
					<a href="mypage_message.html">我的站内信</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row-fluid" style="height: 60px;">

			<div class="col-md-4">			
			<label>账号ID:</label> 
			</div>
  			<div class="col-md-4">		
  			<label>邮箱:</label> 
  			</div>
 			<div class="col-md-4">			
 			<label>真实姓名:</label> 
 			</div>
		</div>
		<div class="row-fluid" style="height: 60px;">
			<div class="col-md-4">			
			<label>院系:</label> </div>
  			<div class="col-md-4">		
  			<label style="width:240px;">年级:</label>
  			</div>
 			<div class="col-md-4">			
 			<label style="width:240px">:</label>
 			</div>
		</div>
		<div >
			<label for="myInfopicture">我的头像</label>
			<img src=".." class="img-rounded">
		</div>
		 <div class="row-fluid">
  			<a href="mypage_changemyinfo.html" class="btn btn-default " role="button">修改个人信息</a>
  			<a href="mypage_changemypassword.html" class="btn btn-default " role="button">修改密码</a>
		</div>
	</div>

</div>
</body>
</html>